@model WebApplication56.Models.Cruise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cruise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FROM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FROM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cruise_Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cruise_Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Guests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Guests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CruiseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
