@model IEnumerable<WebApplication56.Models.Cruise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FROM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cruise_Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Guests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FROM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cruise_Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Guests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CruiseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CruiseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CruiseID })
        </td>
    </tr>
}

</table>
